// colors
$white: #fff;
$dark: #333;
$light: #999;
$gray: #666;
$main-color: #693CB8;
$border-color: #dedede;
$bg: #f4f4f4;
$table: #f6f4f5;
$important: #FF7D00;
$danger: #D0021B;
$disabled:#e6e6e6;

// size
$container: 1104px;
$headerHeight: 80px;
$courseImgWidth:240px;
$courseImgHeight:168px;


// font-size
$font-small: 12px;
$font-normal: 14px;
$font-middle: 16px;
$font-big: 18px;
$font-large: 20px;
$font-title: 24px;